{% extends "base.html" %} {% block title %}Company{% endblock %} {% block
ShowTitle %}Η Εταιρία{% endblock %} {% block content %}

<div class="row">
  <div class="text-center" data-aos="fade-in" data-aos-duration="3000">
    <p class="Company-First-Text">Η ΕΤΑΙΡΙΑ ΜΑΣ</p>
  </div>
</div>
<div class="row p-5">
  <div class="container-fluid">
    <div
      class="row p-5 navbar Company-Background-Image"
      data-aos="fade-in"
      data-aos-duration="3000">
      <div class="Company-Text">
        <p>
          Σ΄ ένα μικρό εργαστήριο όπου η γνώση συνάντησε την παράδοση και το
          μεράκι δε έμενε παρά το αποτέλεσμα να ήταν εκπληκτικό. Έτσι το 2003, η
          εταιρία μεταφέρεται σε νέες εγκαταστάσεις στη Βιομηχανική περιοχή
          Θεσσαλονίκης σ΄ ένα υπερσύγχρονο χώρο που πληρεί τις σημερινές υψηλές
          προδιαγραφές, με διαδικασίες διασφάλισης της ποιότητας ISO 22000 η
          εταιρία 2 άλφα ετοιμάζει για εσάς και τους πελάτες σας προϊόντα ζύμης
          με παραδοσιακές συνταγές που ανταποκρίνονται στις γευστικές απαιτήσεις
          του σημερινού Έλληνα. Στη 2 άλφα τα αγνά υλικά και η ελεγχόμενη
          ποιότητα τους αποτελούν βασική μας προτεραιότητα, γιατί πιστεύουμε ότι
          αυτά είναι που εξασφαλίζουν προϊόντα κορυφαίας ποιότητας ικανά να
          ικανοποιήσουν και τον πιο απαιτητικό πελάτη σας. Με την πιο
          ολοκληρωμένη γκάμα σε κατεψυγμένα προϊόντα ζύμης που υπάρχει σήμερα
          στην αγορά οργανώστε με σιγουριά τμήμα catering στο χώρο σας δίνοντας
          νέα πνοή στην εταιρία σας αλλά και αυξάνοντας τα κέρδη σας. Διαλέξτε
          από την μεγάλη μας ποικιλία λιχουδιές αλμυρές αλλά και γλυκές όπως
          παραδοσιακές χωριάτικες πίτες με τυρί, τυρί-σπανάκι, πράσο, κρέμα,
          κολοκύθι, πεϊνιρλί, πίτσες. Με αξιοπιστία και συνέπεια επιδιώκουμε μια
          πιο ανθρώπινη και φιλική συνεργασία. Γι' αυτό με χαρά σας καλούμε να
          μας γνωρίσετε από κοντά να δοκιμάσετε τα προϊόντα μας και να μας
          αξιολογήσετε. Είμαστε σίγουροι ότι το αποτέλεσμα θα σας ενθουσιάσει.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
