{% extends "base.html" %} {% block title %}Pies{% endblock %} {% block ShowTitle
%}Προϊόντα Φύλλου{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row p-5 cards-row">
    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
      <h1>Οδηγίες Ψησίματος για Χωριάτικες Πίτες</h1>
    </div>

    <!--THE HISTORY-->
    <div
      class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4"
      data-aos="fade-left"
      data-aos-duration="3000">
      <p
        data-aos="fade-left"
        data-aos-duration="3000"
        class="lh-lg text-center Instructions fst-italic"
        data-mdb-animation="fade-out ">
        1. Βγάλτε την πίτα από την κατάψυξη, αφαιρέστε την συσκευασία και
        τοποθετήστε σε ταψί.
      </p>
      <p
        data-aos="fade-left"
        data-aos-duration="3000"
        data-aos-delay="200"
        class="lh-lg text-center Instructions fst-italic"
        data-mdb-animation="fade-out ">
        2. Αφήστε να ξεπαγώσει (προαιρετικά) σε θερμοκρασία δωματίου.
      </p>
      <p
        data-aos="fade-left"
        data-aos-duration="3000"
        data-aos-delay="400"
        class="lh-lg text-center Instructions fst-italic"
        data-mdb-animation="fade-out ">
        3. Προθερμάνετε τον φούρνο στους 180°C.
      </p>
      <p
        data-aos="fade-left"
        data-aos-duration="3000"
        data-aos-delay="600"
        class="lh-lg text-center Instructions fst-italic"
        data-mdb-animation="fade-out ">
        4. Τοποθετήστε την πίτα στον φούρνο.
      </p>
      <p
        data-aos="fade-left"
        data-aos-duration="3000"
        data-aos-delay="800"
        class="lh-lg text-center Instructions fst-italic"
        data-mdb-animation="fade-out ">
        5. Ψήστε στους 180°C για 20′. Βγαλτε την πίτα από τον φούρνο, χαράξτε
        επιφανειακά με ένα μαχαίρι στα ήδη χαραγμένα σημεία.
      </p>
      <p
        data-aos="fade-left"
        data-aos-duration="3000"
        data-aos-delay="900"
        class="lh-lg text-center Instructions fst-italic"
        data-mdb-animation="fade-out ">
        6. Βάλτε την πίτα στον φούρνο και συνεχίστε το ψήσιμο για 30′ περίπου,
        έως ότου ροδοκοκκινίσει.
      </p>
    </div>
  </div>
  <div class="row p-2">
    <div class="button-group p-1">
      <button
        type="button"
        class="btn button-Products btn-outline-success"
        onclick="hideOrShowImages('all')">
        Όλα τα Προϊόντα
      </button>
      <button
        class="button button-Products btn btn-outline-success"
        onclick="hideOrShowImages('xoriatikh')">
        Πίτες Δεκάρες
      </button>
      <button
        class="button button-Products btn btn-outline-success"
        onclick="hideOrShowImages('mpoukitsa')">
        Πίτες Μπουκίτσα Τετράγωνη
      </button>
      <button
        class="button button-Products btn btn-outline-success"
        onclick="hideOrShowImages('28X42')">
        Πίτες 28Χ42
      </button>
      <button
        class="button button-Products btn btn-outline-success"
        onclick="hideOrShowImages('25X35')">
        Πίτες Θρακιώτικεσ 25Χ35
      </button>
      <button
        class="button button-Products btn btn-outline-success"
        onclick="hideOrShowImages('6ares')">
        Πίτες Εξάρες
      </button>
      <button
        class="button button-Products btn btn-outline-success"
        onclick="hideOrShowImages('agioritikes')">
        Πίτες Αγιορείτικες
      </button>
      <button
        class="button button-Products btn btn-outline-success"
        onclick="hideOrShowImages('petromilou')">
        Πίτες Πετρόμυλου
      </button>
      <button
        class="button button-Products btn btn-outline-success"
        onclick="hideOrShowImages('mpougatsakia')">
        Μπουγατσάκια
      </button>
      <button
        class="button button-Products btn btn-outline-success"
        onclick="hideOrShowImages('fakelos')">
        Φάκελος
      </button>
      <button
        class="button button-Products btn btn-outline-success"
        onclick="hideOrShowImages('strifti')">
        Στριφτές
      </button>
      <button
        class="button button-Products btn btn-outline-success"
        onclick="hideOrShowImages('mpourekaki')">
        Μπουρεκάκια
      </button>
      <!-- Add more buttons for other categories -->
    </div>
  </div>

  <div id="imageContainer " data-aos="fade-up" data-aos-duration="3000">
    <div
      class="row row-cols-xsm-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 p-3 align-items-stretch">
      {% for item in PitesImage_data %}
      <div class="col Product_images" id="{{item['categories']}}">
        <div class="card text-white d-flex flex-column h-100">
          <img
            class="flex-fill"
            src="{{ url_for('static', filename='pics/Proionta-Filou/' + item['filename']) }}" />

          <div class="proionta card-img-overlay heurehover">
            <div class="showmeonhover prod-text w-100">
              <h5 class="card-title text-center">{{item['onoma']}}</h5>
              <p class="card-text">{{item['keimeno']|safe}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
